body {
    color: #fff;
    background: #202020;
}
.form-control {
    min-height: 41px;
    background: #fff;
    box-shadow: none !important;
    border-color: #e3e3e3;
}
.form-control:focus {
    border-color: #B08962;
}
.form-control, .btn {        
    border-radius: 2px;
}
.login-form {
    width: 350px;
    margin: 0 auto;
    padding: 100px 0 30px;		
}
.login-form form, .login-form .cadastro-div {
    color: #7a7a7a;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;	
    position: relative;	
}
.login-form h2 {
    font-size: 22px;
    margin: 35px 0 25px;
}
.login-form .avatar {
    position: unset;
    margin: 1px 75px auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    padding: 15px;
}
.login-form .avatar img {
    width: 160%;
}	
.login-form input[type="checkbox"] {
    margin-top: 2px;
}
.login-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #EE1C25;
    border: none;
    margin-bottom: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: rgb(235, 75, 83);
    outline: none !important;
}    
.login-form a {
    color: #fff;
    text-decoration: underline;
}
.login-form a:hover {
    text-decoration: none;
}
.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}
.login-form form a:hover {
    text-decoration: underline;
}
canvas{
    border:1px solid;
}
video{
    border:1px solid;
    height: 480px;   
    width:640; 
}
#canvasCapture{
    display: none;
}
.selfie{  
    font-size: 16px;
    font-weight: bold;
    background: #EE1C25;
    border: none;
    margin-bottom: 20px;
    /* width: 470px; */
}
.selfie:hover, .login-form .btn:focus {
    background: rgb(235, 75, 83);
    outline: none !important;
}
#send{
    display: none;
}
.erroPass{
    display: none;
}